In [39]:
import pandas as pd
import chardet

In [42]:
# Ler alguns bytes do arquivo para detectar a codificação
with open('data/populacao.csv', 'rb') as f:
    result = chardet.detect(f.read(100000))
result

{'encoding': 'utf-8', 'confidence': 0.99, 'language': ''}

In [46]:
df = pd.read_csv('data/populacao.csv', encoding='utf-8', sep=';')
df

      UF  COD. UF  COD. MUNIC      NOME DO MUNIC�PIO  POPULA��O ESTIMADA
0     RO       11          15  Alta Floresta D'Oeste               22.516
1     RO       11          23              Ariquemes              111.148
2     RO       11          31                 Cabixi                5.067
3     RO       11          49                 Cacoal               86.416
4     RO       11          56             Cerejeiras               16.088
...   ..      ...         ...                    ...                  ...
5565  GO       52       22005             Vian�polis               14.088
5566  GO       52       22054         Vicentin�polis                9.002
5567  GO       52       22203               Vila Boa                6.451
5568  GO       52       22302          Vila Prop�cio                5.941
5569  DF       53         108               Bras�lia            3.094.325

[5570 rows x 5 columns]

In [47]:
df.iloc[16]

UF                               RO
COD. UF                          11
COD. MUNIC                      205
NOME DO MUNIC�PIO       Porto Velho
 POPULA��O ESTIMADA      548.952(1)
Name: 16, dtype: object

In [48]:
# Renomear colunas
df.columns = ['uf', 'uf_cod', 'ibge_cod', 'municipio', 'populacao']

In [50]:
# Separar coluna populacao pegando apenas o primeiro valor antes do parenteses
df['populacao'] = df['populacao'].str.split('(').str[0]

# remover pontos
df['populacao'] = df['populacao'].str.replace('.', '')

# converter para inteiro
df['populacao'] = df['populacao'].astype(int)
df

      uf  uf_cod  ibge_cod              municipio  populacao
0     RO      11        15  Alta Floresta D'Oeste      22516
1     RO      11        23              Ariquemes     111148
2     RO      11        31                 Cabixi       5067
3     RO      11        49                 Cacoal      86416
4     RO      11        56             Cerejeiras      16088
...   ..     ...       ...                    ...        ...
5565  GO      52     22005             Vian�polis      14088
5566  GO      52     22054         Vicentin�polis       9002
5567  GO      52     22203               Vila Boa       6451
5568  GO      52     22302          Vila Prop�cio       5941
5569  DF      53       108               Bras�lia    3094325

[5570 rows x 5 columns]

In [51]:
df.to_csv('data/populacao.csv', index=False)